<template>
  <a-menu-item :key="routeChildren.path" @click.capture="handleLink">
    <span class="anticon">
      <vab-icon :icon="routeChildren.meta.icon"></vab-icon>
    </span>
    <span>{{ routeChildren.meta.title }}</span>
  </a-menu-item>
</template>

<script>
  export default {
    name: 'MenuItem',
  }
</script>
<script setup>
  import { isExternal } from '@/utils/validate'
  import VabIcon from '@/layout/vab-icon'
  import { useRoute, useRouter } from 'vue-router'
  import { defineProps } from 'vue'

  const $route = useRoute()
  const $router = useRouter()

  const props = defineProps({
    item: {
      type: Object,
      default() {
        return null
      },
    },
    routeChildren: {
      type: Object,
      default: () => null,
    },
  })

  function handleLink() {
    const routePath = props.routeChildren.fullPath
    const target = props.routeChildren.meta.target
    if (target === '_blank') {
      if (isExternal(routePath)) window.open(routePath)
      else if ($route.path !== routePath) window.open(routePath.href)
    } else {
      if (isExternal(routePath)) window.location.href = routePath
      else if ($route.path !== routePath) $router.push(routePath)
    }
  }
</script>
