<template>
  <a-sub-menu :key="item.fullPath">
    <template v-slot:title>
      <span class="anticon">
        <vab-icon :icon="item.meta.icon"></vab-icon>
      </span>
      <span>{{ item.meta.title }}</span>
    </template>
    <slot></slot>
  </a-sub-menu>
</template>

<script>
  export default {
    name: 'Submenu',
  }
</script>
<script setup>
  import VabIcon from '@/layout/vab-icon'
  import { defineProps } from 'vue'

  const props = defineProps({
    item: {
      type: Object,
      default() {
        return null
      },
    },
    routeChildren: {
      type: Object,
      default() {
        return null
      },
    },
  })
</script>
