<template>
  <page-header-wrapper ref="pageHeaderWrapperRef">
    <a-row :gutter="16">
      <a-col :span="6">
        <a-card title="分组" :bordered="false">
          <!-- v-action:syncNode -->
          <template v-slot:extra>
            <a-button
              shape="round"
              size="small"
              icon="file-sync"
              :loading="loadingNode"
              @click="handleSyncNode"
            >
              同步分组
            </a-button>
          </template>

          <!-- v-action:nodeList -->
          <a-tree
            :load-data="onLoadTree"
            default-expand-all
            :selected-keys="selectedKeys"
            :replaceFields="{
              children: 'children',
              title: 'name',
              key: 'uuid',
            }"
            :tree-data="treeData"
            @select="onSelect"
          >
            <template v-slot:customTitle="record">
              <span>{{ record.name }} ({{ record.assets_amount }})</span>
            </template>
          </a-tree>
          <a-empty v-show="treeData.length === 0" />
        </a-card>
      </a-col>
      <a-col :span="18">
        <a-card :title="`主机 ${title}`" :bordered="false">
          <!-- v-action:syncHost -->
          <template v-slot:extra>
            <a-button
              shape="round"
              size="small"
              icon="cloud-sync"
              :loading="loadingHost"
              @click="handleSyncHost"
            >
              同步主机
            </a-button>
          </template>

          <!-- v-action:hostList -->
          <s-table
            ref="table"
            size="default"
            rowKey="uuid"
            :columns="columns"
            :data="loadData"
            :header="true"
            showPagination="auto"
            :row-selection="rowSelection"
          >
            <template v-slot:left>
              <a-input-group compact>
                <a-select v-model="searchType" @change="handleTypeChange()">
                  <a-select-option value="name">主机名称</a-select-option>
                  <a-select-option value="ip">IP地址</a-select-option>
                </a-select>
                <!-- <a-input-search placeholder="请输入检索" v-model="queryParam.keyword" style="width: 200px" @search="onSearch" /> -->
                <a-input
                  placeholder="请输入主机名称"
                  v-model="queryParam.name"
                  style="width: 200px"
                  v-if="searchType === 'name'"
                />
                <a-input
                  placeholder="请输入ip"
                  v-model="queryParam.ip"
                  style="width: 200px"
                  v-if="searchType === 'ip'"
                />
                <a-button type="primary" @click="onSearch">搜索</a-button>
              </a-input-group>
            </template>
            <template v-slot:hostname="text">
              <span>
                <a-button type="link">
                  <ellipsis :length="28" tooltip>{{ text }}</ellipsis>
                </a-button>
              </span>
            </template>

            <template v-slot:status="text">
              <span>
                <a-badge
                  :status="statusTypeFilter(text)"
                  :text="statusFilter(text)"
                />
              </span>
            </template>
          </s-table>
        </a-card>
      </a-col>
    </a-row>
  </page-header-wrapper>
</template>

<script>
  import { STable, Ellipsis } from '@/components'
  import { getNodeApi, getHostApi, syncNodeApi, syncHostApi } from '@/api/host'
  import get from 'lodash/get'
  import isEmpty from 'lodash/isEmpty'
  import uniqBy from 'lodash/uniqBy'

  const columns = [
    {
      title: ' 主机名称',
      dataIndex: 'hostname',
      // sorter: true,
      scopedSlots: { customRender: 'hostname' },
    },
    {
      title: 'IP地址',
      dataIndex: 'ip',
    },
    {
      title: '已连接',
      dataIndex: 'connectivity_status',
      scopedSlots: { customRender: 'status' },
    },
  ]

  const statusMap = {
    0: {
      status: 'default',
      text: '否',
    },
    1: {
      status: 'processing',
      text: '是',
    },
    // 2: {
    //   status: 'success',
    //   text: '已上线'
    // },
    // 3: {
    //   status: 'error',
    //   text: '异常'
    // }
  }

  export default {
    name: 'HostManage',
    components: {
      STable,
      Ellipsis,
    },
    props: {
      hiddenPageHeaderWarp: {
        type: Boolean,
        default: false,
        required: false,
      },
      // 传递选择项
      rowSelected: {
        type: Array,
        default: () => [],
        required: false,
      },
    },
    data() {
      this.columns = columns
      return {
        searchType: 'name',
        // 右侧卡片标题-提示作用
        title: '',
        // 同步节点按钮状态
        loadingNode: false,
        // 同步主机按钮状态
        loadingHost: false,
        // 默认选中树节点
        selectedKeys: [],
        treeData: [],
        // create model
        visible: false,
        // 查询参数
        queryParam: {
          name: '',
          ip: '',
        },
        showDrawer: false,
        currentNode: '',

        // 加载数据方法 必须为 Promise 对象
        loadData: async (parameter) => {
          if (this.currentNode) {
            const value = JSON.parse(JSON.stringify(this.queryParam))
            Object.keys(value).forEach((key) => {
              if (value[key] === '' || key !== this.searchType) {
                delete value[key]
              }
            })

            const { data } = await getHostApi(
              this.currentNode,
              Object.assign({}, parameter, value)
            )
            data.data = uniqBy(data.data, 'uuid')
            return data
          } else {
            return {
              current_page: 1,
              data: [],
              total: 0,
            }
          }
        },
      }
    },
    computed: {
      statusFilter(type) {
        return statusMap[type].text
      },
      statusTypeFilter(type) {
        return statusMap[type].status
      },
      rowSelection() {
        return this.hiddenPageHeaderWarp === false
          ? null
          : {
              onChange: (keys) => {
                // 向上传递已选择项
                this.$emit('update:rowSelected', keys)
              },
              selectedRowKeys: this.rowSelected,
            }
      },
    },
    created() {
      // 初始化分组列表节点
      getNodeApi().then((response) => {
        const { data } = response
        // 数据判空
        if (isEmpty(data)) {
          this.treeData = []
        } else {
          this.handleInsertSlot([data])
          this.treeData = [data]
          this.title = `- ${data.name}`

          this.currentNode = data.uuid
          this.$refs.table.refresh()
        }
      })
    },
    mounted() {
      const $children = this.$refs.pageHeaderWrapperRef.$children[0]
      $children.$el.hidden = this.hiddenPageHeaderWarp
    },
    methods: {
      handleTypeChange() {
        this.queryParam = { name: '', ip: '' }
      },
      async onLoadTree(treeNode) {
        const {
          dataRef: { children, uuid },
        } = treeNode
        // 存在子节点则不加载数据
        if (children) {
          return treeNode
        }
        const response = await getNodeApi(uuid)
        const { data } = response
        this.handleInsertSlot([data])
        treeNode.dataRef.children = data.children
        this.treeData = [...this.treeData]
        return treeNode
      },
      // 递归数据 插入slot插槽配置项
      handleInsertSlot(arr) {
        arr.forEach((item) => {
          item.scopedSlots = { title: 'customTitle' }
          if (item.children) {
            this.handleInsertSlot(item.children)
          }
        })
      },
      // 选中节点刷新列表
      onSelect(keys, event) {
        const uuid = get(event, 'node.dataRef.uuid')
        const name = get(event, 'node.dataRef.name')
        this.currentNode = uuid
        // this.queryParam.keyword = ''
        this.$refs.table.refresh()
        this.title = `- ${name}`
      },
      // 搜索查询列表 - 搜索为已选择节点下的主机
      onSearch(value) {
        // console.log(value)
        // this.queryParam.keyword = value
        this.$refs.table.refresh()
      },
      // 同步分组节点
      handleSyncNode() {
        this.loadingNode = true
        syncNodeApi().finally(() => {
          // 重置页面数据
          getNodeApi().then((response) => {
            this.loadingNode = false
            const { data } = response
            // 数据判空
            if (isEmpty(data)) {
              this.treeData = []
            } else {
              // 重置节点数据
              this.handleInsertSlot([data])
              this.treeData = [data]
              // 重置右侧卡片标题
              this.title = `- ${data.name}`
              // 重置主机列表
              this.currentNode = data.uuid
              this.$refs.table.refresh()
              this.selectedKeys = [data.uuid]
            }
          })
        })
      },
      handleSyncHost() {
        this.loadingHost = true
        syncHostApi().finally(() => {
          this.loadingHost = false
          this.$refs.table.refresh(true)
        })
      },
    },
  }
</script>
