<template>
  <div class="vab-avatar">
    <a-dropdown>
      <span class="ant-dropdown-link">
        <a-avatar :src="avatar" />
        {{ username }}
        <DownOutlined />
      </span>
      <template v-slot:overlay>
        <a-menu>
          <a-menu-item @click="buy">个人中心</a-menu-item>
          <a-menu-item @click="logout">退出登录</a-menu-item>
        </a-menu>
      </template>
    </a-dropdown>
  </div>
</template>

<script>
  export default {
    name: 'VabAvatar',
  }
</script>

<script setup>
  import { recordRoute } from '@/config'
  import { DownOutlined } from '@ant-design/icons-vue'

  import { useStore } from 'vuex'
  import { computed } from 'vue'
  import { useRoute, useRouter } from 'vue-router'

  const store = useStore()
  const router = useRouter()
  const route = useRoute()
  const logout = async () => {
    await store.dispatch('user/logout')
    if (recordRoute) {
      const fullPath = route.fullPath
      router.push(`/login?redirect=${fullPath}`)
    } else {
      router.push('/login')
    }
  }

  const buy = () => {
    window.open('http://vue-admin-beautiful.com/authorization/')
  }
  const avatar = computed(() => store.getters['user/avatar'])
  const username = computed(() => store.getters['user/username'])
</script>
<style lang="less">
  .vab-avatar {
    .ant-dropdown-link {
      display: block;
      min-height: 64px;
      cursor: pointer;
    }
  }
</style>
