<template>
  <div class="toolBar">
    <a-space size="large">
      <a-tooltip title="刷新数据">
        <a-icon type="reload" @click="$emit('refresh')" />
      </a-tooltip>

      <a-tooltip title="密度">
        <a-dropdown>
          <a-icon type="column-height" />
          <template v-slot:overlay>
            <a-menu @click="onClick" :selected-keys="[selected]">
              <a-menu-item key="default">默认</a-menu-item>
              <a-menu-item key="small">紧凑</a-menu-item>
              <a-menu-item key="middle">中等</a-menu-item>
            </a-menu>
          </template>
        </a-dropdown>
      </a-tooltip>

      <a-tooltip :title="fullscreenIcon === 'fullscreen' ? '全屏' : '退出全屏'">
        <a-icon :type="fullscreenIcon" @click="handleFullscreenChange" />
      </a-tooltip>

      <a-tooltip title="列设置">
        <a-dropdown :trigger="['click']">
          <a-icon type="setting" />
          <template v-slot:overlay>
            <a-menu style="padding-right: 20px">
              <a-tree
                checkable
                v-model="checkedKeys"
                :tree-data="treeData"
                :replaceFields="{
                  children: 'children',
                  title: 'title',
                  key: 'dataIndex',
                }"
                @select="onSelect"
              />
            </a-menu>
          </template>
        </a-dropdown>
      </a-tooltip>
    </a-space>
  </div>
</template>
<script>
  import { SIDEBAR_TYPE } from '@/store/mutation-types'
  import { mapMutations } from 'vuex'

  export default {
    props: {
      value: {
        type: Array,
        default: () => [],
      },
    },
    data() {
      return {
        checkedKeys: [],
        fullscreenIcon: 'fullscreen',
        selected: 'default',
        treeData: this.value,
      }
    },
    created() {
      // props v-model table表格列数据columns
      this.checkedKeys = this.treeData.map((item) => item.dataIndex)
    },
    watch: {
      checkedKeys(newValue, oldValue) {
        const { checkedKeys, treeData } = this
        const columns = []
        treeData.forEach((item) => {
          if (checkedKeys.includes(item.dataIndex)) {
            columns.push(item)
          }
        })
        this.$emit('input', columns)
      },
    },
    methods: {
      onSelect(selectedKeys, info) {
        console.log('onSelect', info)
      },
      ...mapMutations([SIDEBAR_TYPE]),
      handleFullscreenChange() {
        if (!document.fullscreenElement) {
          document.body.requestFullscreen().then(() => {
            this.fullscreenIcon = 'fullscreen-exit'
            this[SIDEBAR_TYPE](true)
          })
        } else {
          document.exitFullscreen().then(() => {
            this.fullscreenIcon = 'fullscreen'
            this[SIDEBAR_TYPE](false)
          })
        }
      },
      onClick({ key }) {
        this.selected = key
        this.$emit('density', key)
      },
    },
  }
</script>
<style lang="less" scoped>
  .toolBar {
    display: inline-block;
    margin-left: 15px;
  }
</style>
