<template>
  <div class="login-container">
    <a-row>
      <a-col :xs="0" :md="0" :sm="12" :lg="14" :xl="16"></a-col>
      <a-col :xs="24" :sm="24" :md="12" :lg="10" :xl="6">
        <div class="login-container-form">
          <div class="login-container-hello">hello!</div>
          <div class="login-container-title">欢迎来到 {{ title }}</div>
          <a-form :model="formData" @keypress.enter="handleSubmit">
            <a-form-item>
              <a-input v-model:value="formData.username" placeholder="Username">
                <template v-slot:prefix>
                  <UserOutlined style="color: rgba(0, 0, 0, 0.25)" />
                </template>
              </a-input>
            </a-form-item>
            <a-form-item>
              <a-input
                v-model:value="formData.password"
                type="password"
                placeholder="Password"
              >
                <template v-slot:prefix>
                  <LockOutlined style="color: rgba(0, 0, 0, 0.25)" />
                </template>
              </a-input>
            </a-form-item>
            <a-form-item>
              <a-button
                type="primary"
                :disabled="formData.username === '' || formData.password === ''"
                @click="handleSubmit"
              >
                登录
              </a-button>
            </a-form-item>
          </a-form>
        </div>
      </a-col>
    </a-row>
    <div class="login-container-tips">
      基于vue{{ dependencies['vue'] }}
      + ant-design-vue
      {{ dependencies['ant-design-vue'] }}开发
    </div>
  </div>
</template>
<script>
  export default {
    name: 'Login',
  }
</script>
<script setup>
  import { reactive, watchEffect, computed, ref } from 'vue'
  import { useRoute, useRouter } from 'vue-router'
  import { dependencies, devDependencies } from '*/package.json'
  import { UserOutlined, LockOutlined } from '@ant-design/icons-vue'
  import { useStore } from 'vuex'

  // 公共hook
  const route = useRoute()
  const router = useRouter()
  const store = useStore()

  // 账户登录
  const formData = reactive({
    username: 'admin',
    password: '123456',
  })

  const logo = computed(() => store.getters['settings/logo'])
  const title = computed(() => store.getters['settings/title'])

  const redirect = ref(undefined)
  const data = reactive({
    dependencies: dependencies,
    devDependencies: devDependencies,
  })

  function handleRoute() {
    return redirect.value === '/404' || redirect.value === '/403'
      ? '/'
      : redirect.value
  }
  async function handleSubmit() {
    try {
      await store.dispatch('user/login', formData)
      await router.push(handleRoute())
    } catch (error) {
      console.error(error)
    }
  }

  // 监听路由
  watchEffect(() => {
    redirect.value = (route.query && route.query.redirect) || '/'
  })
</script>
<style lang="less">
  .login-container {
    width: 100%;
    height: 100vh;
    background: url('~@/assets/login_images/login_background.png');
    background-size: cover;
    &-form {
      width: calc(100% - 40px);
      height: 380px;
      padding: 4vh;
      margin-top: calc((100vh - 380px) / 2);
      margin-right: 20px;
      margin-left: 20px;
      background: url('~@/assets/login_images/login_form.png');
      background-size: 100% 100%;
      border-radius: 10px;
      box-shadow: 0 2px 8px 0 rgba(7, 17, 27, 0.06);
    }
    &-hello {
      font-size: 32px;
      color: #fff;
    }
    &-title {
      margin-bottom: 30px;
      font-size: 20px;
      color: #fff;
    }
    &-tips {
      position: fixed;
      bottom: @vab-margin;
      width: 100%;
      height: 40px;
      color: rgba(255, 255, 255, 0.856);
      text-align: center;
    }
    .ant-col {
      width: 100%;
      padding: 0 10px 0 10px;
    }
    .ant-input {
      height: 35px;
    }
    .ant-btn {
      width: 100%;
      height: 45px;
      border-radius: 99px;
    }
  }
</style>
