<template>
  <div class="vab-tabs">
    <div class="vab-tabs-left-panel">
      <a-tabs
        @tab-click="handleTabClick"
        @edit="handleTabRemove"
        v-model:activeKey="data.tabActive"
        hide-add
        type="editable-card"
      >
        <a-tab-pane
          v-for="item in visitedRoutes"
          :key="item.fullPath"
          :closable="!isAffix(item)"
          :tab="item.meta.title"
        ></a-tab-pane>
      </a-tabs>
    </div>
    <div class="vab-tabs-right-panel">
      <a-dropdown>
        <template v-slot:overlay>
          <a-menu @click="handleClick">
            <a-menu-item key="closeOthersTabs">
              <a>关闭其他</a>
            </a-menu-item>
            <a-menu-item key="closeLeftTabs">
              <a>关闭左侧</a>
            </a-menu-item>
            <a-menu-item key="closeRightTabs">
              <a>关闭右侧</a>
            </a-menu-item>
            <a-menu-item key="closeAllTabs">
              <a>关闭全部</a>
            </a-menu-item>
          </a-menu>
        </template>
        <a-button style="margin-left: 8px">
          更多
          <DownOutlined />
        </a-button>
      </a-dropdown>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'VabTabs',
  }
</script>
<script setup>
  import { DownOutlined } from '@ant-design/icons-vue'
  import { computed, ref, reactive, onMounted, watch } from 'vue'
  import { useStore } from 'vuex'
  import { useRoute, useRouter } from 'vue-router'

  const store = useStore()
  const $route = useRoute()
  const $router = useRouter()
  const routes = computed(() => store.getters['routes/routes'])
  onMounted(() => {
    initAffixTabs(routes.value)
    // 这里是this.$route
    addTabs($route)
  })

  watch(
    () => $route.path,
    () => {
      addTabs($route)
    }
  )

  const data = reactive({
    affixTabs: [],
    tabActive: null,
  })
  const created = ref(false)

  const visitedRoutes = computed(() => store.getters['tagsBar/visitedRoutes'])

  function addVisitedRoute(commit) {
    store.dispatch('tagsBar/addVisitedRoute', commit)
  }
  function delVisitedRoute(commit) {
    store.dispatch('tagsBar/delVisitedRoute', commit)
  }
  function delOthersVisitedRoutes(commit) {
    store.dispatch('tagsBar/delOthersVisitedRoutes', commit)
  }
  function delLeftVisitedRoutes(commit) {
    store.dispatch('tagsBar/delLeftVisitedRoutes', commit)
  }
  function delRightVisitedRoutes(commit) {
    store.dispatch('tagsBar/delRightVisitedRoutes', commit)
  }
  function delAllVisitedRoutes(commit) {
    store.dispatch('tagsBar/delAllVisitedRoutes', commit)
  }

  function initAffixTabs(routes) {
    routes.forEach((route) => {
      if (route.meta && route.meta.affix) addTabs(route)
      if (route.children) initAffixTabs(route.children)
    })
  }
  async function addTabs(tag) {
    if (tag.name && tag.meta && tag.meta.tagHidden !== true) {
      let matched = [tag.name]
      if (tag.matched) matched = tag.matched.map((item) => item.name)
      await addVisitedRoute({
        path: tag.path,
        fullPath: tag.fullPath,
        query: tag.query,
        params: tag.params,
        name: tag.name,
        matched: matched,
        meta: { ...tag.meta },
      })
      data.tabActive = tag.fullPath
    }
  }
  function isActive(route) {
    return route.path === $route.path
  }
  function isAffix(tag) {
    return tag.meta && tag.meta.affix
  }
  function handleTabClick(tab) {
    const route = visitedRoutes.value.filter((item) => item.path === tab)[0]
    if ($route.fullPath !== route.fullPath) $router.push(route)
  }
  async function handleTabRemove(fullPath) {
    const view = visitedRoutes.value.find((item) => {
      return fullPath === item.fullPath
    })
    await delVisitedRoute(view)
    if (isActive(view)) toLastTag()
  }
  function handleClick({ key }) {
    switch (key) {
      case 'closeOthersTabs':
        closeOthersTabs()
        break
      case 'closeLeftTabs':
        closeLeftTabs()
        break
      case 'closeRightTabs':
        closeRightTabs()
        break
      case 'closeAllTabs':
        closeAllTabs()
        break
    }
  }
  async function closeSelectedTag(view) {
    await delVisitedRoute(view)
    if (isActive(view)) {
      toLastTag()
    }
  }
  async function closeOthersTabs() {
    await delOthersVisitedRoutes(toThisTag())
  }
  async function closeLeftTabs() {
    await delLeftVisitedRoutes(toThisTag())
  }
  async function closeRightTabs() {
    await delRightVisitedRoutes(toThisTag())
  }
  async function closeAllTabs() {
    await delAllVisitedRoutes()
    if (data.affixTabs.some((tag) => tag.path === toThisTag().path)) return
    toLastTag()
  }
  function toLastTag() {
    const latestView = visitedRoutes.value.slice(-1)[0]
    if (latestView) $router.push(latestView)
    else $router.push('/')
  }
  function toThisTag() {
    const view = visitedRoutes.value.find(
      (item) => item.fullPath === $route.fullPath
    )
    if ($route.path !== view.path) $router.push(view)
    return view
  }
</script>
<style lang="less">
  .vab-tabs {
    padding: 0 @vab-margin;
    background: #ffffff;
    &-left-panel {
      float: left;
      width: calc(100% - 52px - @vab-margin - @vab-margin);
    }
    &-right-panel {
      float: left;
      width: 52px;
    }
    .ant-tabs {
      &-bar {
        margin: 0 !important;
      }
      &-tab {
        height: 32px !important;
        margin-right: 5px !important;
        line-height: 32px !important;
        background: #ffffff !important;
        border: 1px solid #dedede !important;
      }
      &-tab-prev,
      &-tab-next {
        height: 32px !important;
        line-height: 32px !important;
      }
      &-tab-active {
        border: 1px solid #1890ff !important;
        .ant-tabs-close-x {
          color: #1890ff !important;
        }
      }
    }
  }
</style>
