<template>
  <s-table
    ref="table"
    size="default"
    :columns="columns"
    :data="loadData"
    :header="true"
    showPagination="auto"
  ></s-table>
</template>
<script>
  import { getList } from '@/api/table'
  import { STable } from '@/components'
  const columns = [
    {
      title: 'title',
      dataIndex: 'title',
    },
    {
      title: 'description',
      dataIndex: 'description',
    },
    {
      title: 'author',
      dataIndex: 'author',
    },
    {
      title: 'datetime',
      dataIndex: 'datetime',
    },
  ]

  export default {
    components: {
      STable,
    },
    data() {
      return {
        data: [],
        pagination: {
          showLessItems: true,
          showQuickJumper: true,
          showSizeChanger: true,
        },
        query: {},
        loading: false,
        columns,
      }
    },
    mounted() {
      this.fetch()
    },
    methods: {
      handleTableChange(pagination) {
        const pager = { ...this.pagination }
        pager.current = pagination.current
        this.pagination = pager
        this.fetch()
      },
      // 加载数据方法 必须为 Promise 对象
      loadData: async (parameter) => {
        console.log(parameter)
        const { data, total } = getList({
          pageSize: 10,
          current: 1,
        })
        return {
          current_page: 1,
          data: [],
          total: total,
        }
      },
      fetch() {
        this.loading = true
        getList({
          pageSize: this.pagination.pageSize,
          current: this.pagination.current,
        }).then(({ data, total }) => {
          const pagination = { ...this.pagination }
          pagination.total = total
          this.loading = false
          this.data = data
          this.pagination = pagination
        })
      },
    },
  }
</script>
