<template>
  <a-layout class="vab-layout-wrap">
    <div
      v-if="device === 'mobile' && !collapse"
      class="vab-mask"
      @click="handleFoldSideBar"
    ></div>
    <a-layout-sider
      collapsible
      class="vab-sider"
      width="250"
      v-model:collapsed="collapse"
      :class="classObj"
      :trigger="null"
    >
      <vab-logo />
      <a-menu
        class="vab-menu"
        theme="dark"
        mode="inline"
        v-model:selectedKeys="data.selectedKeys"
        v-model:openKeys="data.openKeys"
      >
        <vab-menu v-for="route in routes" :key="route.path" :item="route" />
      </a-menu>
    </a-layout-sider>
    <a-layout
      class="vab-layout"
      :class="'mobile' === device ? 'vab-mobile-layout' : ''"
    >
      <a-layout-header class="vab-header">
        <a-row>
          <a-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
            <menu-unfold-outlined
              v-if="collapse"
              class="trigger"
              @click="toggleCollapse"
            />
            <menu-fold-outlined
              v-else
              class="trigger"
              @click="toggleCollapse"
            />
          </a-col>
          <a-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
            <vab-avatar />
          </a-col>
        </a-row>
      </a-layout-header>
      <vab-tabs />
      <vab-content />
    </a-layout>
  </a-layout>
</template>
<script>
  export default {
    name: 'Layout',
  }
</script>
<script setup>
  import VabLogo from './vab-logo'
  import VabAvatar from './vab-avatar'
  import VabMenu from './vab-menu'
  import VabTabs from './vab-tabs'
  import VabContent from './vab-content'
  import { MenuUnfoldOutlined, MenuFoldOutlined } from '@ant-design/icons-vue'

  import {
    reactive,
    computed,
    onBeforeUnmount,
    onBeforeMount,
    onMounted,
    watchEffect,
    ref,
  } from 'vue'
  import { useStore } from 'vuex'
  import { useRoute } from 'vue-router'
  const store = useStore()
  const data = reactive({
    selectedKeys: [],
    openKeys: [],
  })
  const menuWidth = ref(null)
  const collapse = computed(() => store.getters['settings/collapse'])
  const device = computed(() => store.getters['settings/device'])
  const routes = computed(() => store.getters['routes/routes'])
  const classObj = computed(() => {
    return {
      'vab-mobile': device.value === 'mobile',
      'vab-collapse': collapse.value,
    }
  })

  console.log(store)
  onBeforeMount(() => window.addEventListener('resize', handleLayouts))
  onBeforeUnmount(() => window.removeEventListener('resize', handleLayouts))
  onMounted(() => handleLayouts())

  const { path, matched } = useRoute()
  watchEffect(() => {
    console.log(path, matched)
    matched[0].children.length > 1
      ? (data.selectedKeys = [path])
      : (data.selectedKeys = [matched[0].path])
    data.openKeys = [matched[0].path]
  })

  function handleLayouts() {
    const width = document.body.getBoundingClientRect().width
    if (menuWidth.value !== width) {
      const isMobile = width - 1 < 992
      toggleDevice(isMobile ? 'mobile' : 'desktop')
      menuWidth.value = width
    }
  }
  function toggleDevice(isMobile) {
    store.dispatch('settings/toggleDevice', isMobile)
  }
  function handleFoldSideBar(event) {
    store.dispatch('settings/foldSideBar', event)
  }
  function toggleCollapse(event) {
    store.dispatch('settings/toggleCollapse', event)
  }
</script>
<style lang="less">
  .vab-layout-wrap {
    .vab-sider {
      position: fixed;
      left: 0;
      height: 100vh;
      overflow: auto;
      .vab-menu {
        height: calc(100vh - @vab-header-height);
      }
    }
    .vab-layout {
      padding-left: 250px;
      transition: all 0.2s;
    }
    .vab-mobile-layout {
      padding-left: 0;
      transition: all 0.2s;
    }
    .vab-collapse {
      .vab-logo .anticon + span {
        display: inline-block;
        max-width: 0;
        opacity: 0;
        transition: all 0.2s;
      }
      & + .vab-layout {
        padding-left: 81px;
        transition: all 0.2s;
      }
    }
    .vab-mask {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 998;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      background: #000;
      opacity: 0.5;
    }
    .vab-mobile {
      position: fixed !important;
      z-index: 999;
      &.vab-collapse {
        width: 0 !important;
        min-width: 0 !important;
        max-width: 0 !important;
        * {
          display: none !important;
          width: 0 !important;
          min-width: 0 !important;
          max-width: 0 !important;
        }
        .ant-menu-item,
        .ant-menu-submenu {
          display: none !important;
          width: 0 !important;
          min-width: 0 !important;
          max-width: 0 !important;
        }
        & + .vab-layout {
          padding-left: 0px !important;
          transition: all 0.2s;
        }
      }
    }
    .vab-header {
      padding: 0;
      background: #fff;
      .ant-col + .ant-col {
        display: flex;
        justify-content: flex-end;
        padding: 0 @vab-padding;
      }
      .trigger {
        height: @vab-header-height;
        padding: 0 @vab-padding;
        font-size: 18px;
        line-height: @vab-header-height;
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
          color: #1890ff;
        }
      }
    }
  }
</style>
